<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'encyclopedia/css/login.css' %}" rel="stylesheet">
    <title> 会員登録 </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>H!STORY 会員登録</h3>
            <p>アカウントを入力してください</p>
          </div>
        </div>
        <form class="login-form">
          <input type="text" placeholder="ID"/>
          <input type="password" placeholder="パスワード">
          <input type="email" placeholder="メールアドレス"/>
          <input type="username"placeholder="ニックネーム">
          <button>会員登録</button>
          <p class="message">アカウントがありますか? <a href="jp_login.html">ログインしましょう！</a></p>
          <p class="message"><a href="#">アカウントをお忘れですか？</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>