{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'encyclopedia/css/login.css' %}" rel="stylesheet">
    <title> 로그인 </title>
</head>
<body>
<body>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>H!STORY 로그인</h3>
                <p>아이디를 입력해주세요</p>
            </div>
        </div>
        <form class="login-form">
            <input type="text" placeholder="아이디"/>
            <input type="password" placeholder="비밀번호"/>
            <button>로그인</button>
            <p class="message">가입하지 않으셨나요? <a href="/registration.html">계정을 만드세요</a></p>
            <p class="message"><a href="#">아이디 / 비밀번호 찾기</a></p>
        </form>
    </div>
</div>
</body>
</body>
</html>
